@model List<MeetingScheduler.UI.Models.SampleUserVm>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Main row -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <a asp-action="Create"class="btn btn-default float-right">Create</a>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">

                            <table id="example1" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th> # </th>
                                        <th> Name </th>
                                        <th> Email Address </th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var count = 0;
                                    }
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td> @(++count) </td>
                                            <td> <p> @item.NameAr - @item.NameEn </p> </td>
                                            <td> @item.EmailAddress </td>
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.row (main row) -->
        </div> <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}